{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <h3 class="text-center">Modifification d'une voiture :</h3>

    {{ include('car/_form.html.twig', {'button_label': 'Modifier'}) }}
    <a href="{{ path('app_mesvoitures') }}">Mes voitures</a>
{% endblock %}
